
  *{
  border: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
}
body{
  height: 100%;
  width: 100%;
  background: rgb(68,208,181);
  background: linear-gradient(90deg, rgba(68,208,181,1) 0%, rgba(14,127,181,1) 100%);
}

.inputCont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
input {
  text-align: start;
  height: 24px;
  width: 200px;
  border: solid;
  border-radius: 10px;
}


.dataContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchItemsContainer{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 364px;
}

.inputContainer {
  margin-top: 10px;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.inputContainer > input {
  margin-top: 10px;
}

ul {
  list-style: none;
}
.items{
  margin: 5px;
  
}

button{
  height: 24px;
  padding: 0 10px;
  border-radius: 5px;
  margin-left: 10px;
}